@import url("layout.css");
@import url("components/page-title.css");
@import url("components/header.css");
@import url("components/form.css");
@import url("components/panel.css");
@import url("components/buttons.css");
@import url("components/helpers.css");
@import url("components/lists.css");

/* TYPOGRAPHY */

small {
  display: block;
}

textarea, input:not([type=checkbox]), select, .error {
  display: block;
  width: 100%;
}
